*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


i{
    margin: 0 10px;
    font-size: 20px;
    font-weight:lighter;
    cursor: pointer;
}


.flex{
    display: flex;
}






/*---------------------------navbar-----------------------*/



.navbar{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    justify-content: space-between;
    padding: 0 80px;
    z-index: 2;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.108);
}

.logo>img{
    width: 200px;
    padding: 25px 0;
    cursor: pointer;
}

input#search{
    height: 35px;
    width: 150px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    
}

#search::-webkit-input-placeholder {
    color: black;
    text-align: center;
    font-size: 14px;
}



div.flex.navbar>div.flex.user{
    align-items: center;
}

div.flex.navbar>div.flex.user>div.user{
    height: 35px;
    width: 35px;
    color: white;
    text-align: center;
    line-height: 35px;
    background-color: orange;
    border-radius: 50%;
    cursor: pointer;
}





/*---------------------------Main-------------------------*/


main>div.flex.conteiner{
    padding: 90px 0 0 80px;
    
}




div#left-side{
    padding:50px 70px 0 0;
    border-right: 0.5px solid lightgray;
    flex-flow: column wrap;
}





/*--------------Article side(left-side)------------------*/




/*-------------Chooise--------------*/


div#left-side>div.choise{
    padding: 10px 0;
    border-bottom: 0.5px solid lightgray;
}

div#left-side>div.choise>span{
    padding: 10px;
    cursor: pointer;
}


div#left-side>div.choise>span:last-child{
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 1px solid black;
}





/*--------------------Style about Article------------------*/



div.art-box{
    margin: 50px 0;
}


div.author>img.circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


div.author>img.square{
    height: 25px;
    width: 25px;
    border-radius: 25%;

}

/* Author */

div.author{
    align-items: center;
}

div.author>span{
    margin:0 5px;
    font-weight: bolder;
}


/* Article title */


h2{
    margin: 10px 0;
}

h2:hover{
    display: inline-block;
    text-decoration:underline;
    cursor: pointer;
}





/* Article text */

div.art-box>div.art-left>p{
    color: rgba(0, 0, 0, 0.600);
}

/*Info*/


div.art-bottom{
    margin-top: 20px;
    justify-content: space-between;
}

div.art-bottom>ul.art-info>li{
    margin-left: 25px ;
    align-items: center;
    color: rgba(0, 0, 0, 0.600);
}
div.art-bottom>ul.art-info>li:first-child{
    list-style: none;
    margin-left: 0;
}

div.art-bottom>ul.art-info>li::marker{
    text-align: center !important;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.600);
}

div.art-bottom>div.flex.art-bott{
    align-items: center;
}


/*Immage Media*/

div.art-box>div.art-img>img{
    width: 250px;
    height: auto;
    object-fit: cover;
   
}

div.art-box>div.art-img{
    position: relative;
    margin: 0 20px;
}

div.art-box>div.art-img::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

div.art-box>div.art-img:hover::before{
    opacity: 1;
}

div.art-box>div.art-img>i{
    color: rgba(255, 255, 255, 0.449);
    font-size: 32px;
    position: absolute;
    top: 80px;
    left: 100px;
    transition: all 0.4s ease-out;
    transform: scale(0);
}



div.art-box>div.art-img:hover i{
    transform: scale(1);
}









/*-------------------Right Side----------------------*/


div#right-side{
    padding: 0 80px;
    flex-flow: column wrap;
    align-items: center;
}



/* Twitter Collab, Login */

div.tw-login{
    width: 400px;
    height: 250px;
    flex-flow: column wrap;
    padding: 10px 50px;
    align-items: center;
    border-bottom: 0.5px solid lightgray;
    justify-content: space-around;
}


div.tw-login>div:first-child{
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 200;
}


div.tw-login>div:first-child>img{
    height: 40px;
}

div.tw-login>div>i{
    color: rgb(8, 175, 247);
}




div.tw-login>p{
    text-align: center;
    
}

/*Twitter login button*/


div#tw-button{
    position: relative;
    padding: 10px 30px 10px 5px;
    border: 0.5px solid lightslategray;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}



/*Hover Twitter Button*/




div#tw-button:hover{
    background-color: rgb(8, 175, 247);
    border: 0.5px solid rgb(8, 175, 247);
}

div#tw-button:hover i{
    color: white;
}

div#tw-button:hover span{
    color: white;
}


/*Maybe Later link*/

div.tw-login>a{
    color: lightslategray;
}



/* ---------------List of topic------------------ */

div.topic{
    flex-flow: column wrap;
    padding: 20px 80px 0 0;
}

div.topic>p{
    font-weight: bold;
    padding-bottom: 10px;
}

div.topic>ul.bt-topic{
    flex-wrap: wrap;
    list-style: none;
}

div.topic>ul.bt-topic>li{
    position: relative;
    margin: 5px;
    padding: 10px;
}

div.topic>ul.bt-topic>li::before{
    content: " ";
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
    background-color: rgba(119, 136, 153, 0.152); 
    border-radius: 25px;
    color: black;
    transition: all .3s ease-in-out;
    transform: scale(1);
}

div.topic>ul.bt-topic>li:hover::before{
    transform: scale(1.1);
}



/*-----------Follow racommanded-----------*/

div.follow{
    flex-flow:column  wrap;
    padding-top: 20px;
    width: 100%;
    justify-content: space-between;
}

img.fw-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


div#right-side>p{
    font-weight: bold;
    padding-bottom: 10px;
    align-items: start;
}

div.suggest-profile{
    justify-content: space-between;
}

